<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <display-name>RateTiger IDS Connectivity Module</display-name>


  <!-- This and the listener below goes together and is required to start the Spring framework at startup -->
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

</web-app>
